<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script>
        $(() => {
            $("#client-time").text("Client Time : " + moment().format("YYYY/MM/DD HH:mm:ss"));
        });
    </script>
</head>
<body>
    <label>Server Time : <%=time %> </label><br>
    <label id="client-time">Client Time : </label>
    <form method="POST">
        <input type="text" name="nick" placeholder="Enter Nick">
    </form>
    
    <p class="date">
        <script>$(".date").html(moment().format("YYYY/MM/DD HH:mm:ss"));</script>
    </p>

</body>
</html>